:root {
    --bg-primary : #F4F3EF ;
    --bg-secondary : #E8E6E0 ;
    --bg-tertiary : #E3DACC ;
    --bg-quatenary : #141413 ;
    --font-color-primary : #141413 ;
    --font-color-secondary : #5E5D59 ;
    --font-color-tertiary : #FAF9F5  ;
    --font-color-quaternary : #B0AEA5 ;
    /*--font-style-primary : 
    --font-style-secondary :
    --font-style-tertiary : 
    --font-style-quatenary :*/
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--bg-primary);
    font-family: Georgia, serif;
}
header {
    position: sticky;
    top: 0;
    background-color: var(--bg-primary);
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    margin: 0 8rem;
}
header nav .nav-links {
    display: flex;
    align-items: center;
    gap: 0 1.5rem;
}
header nav .nav-links .links ul {
    list-style: none;
    display: flex;
    gap: 0 1.5rem;
}
header nav .nav-links .links ul .down-icon {
    display: flex;
    gap: 0 0.5rem;
    text-align: center;
}
header nav .nav-links .cta {
    background-color: var(--bg-quatenary);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 0.5rem;
    overflow: hidden;
}
header nav .logo img {
    width: 2.85rem;
}
header nav .nav-links .links ul li a {
    text-decoration: none;
    color: var(--font-color-secondary);
}
header nav .nav-links .links ul li a:hover {
    text-decoration: underline;
}
header nav .nav-links .links ul li img {
    width: 1rem;
}
header nav .nav-links .cta a {
    display: inline-block;
    text-decoration: none;
    color: var(--font-color-tertiary);
    padding: 0.6rem 0.8rem;
    border-right: 1px solid var(--bg-secondary);
}
header nav .nav-links .cta a:hover {
    background-color: var(--bg-secondary);
}
header nav .nav-links .cta .chevron-icon {
    padding: 0 1rem;
    text-align: center;
}
header nav .nav-links .cta .chevron-icon img {
    width: 0.8rem;
}
.section-1 {
    margin: 0 8rem;
    margin-bottom: 12rem;
}
.section-1 .section-1-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 4rem;
    height: 300px;
}
.section-1 .section-1-wrapper h2 {
    font-size: 3.5rem;
}
.section-1 .section-1-wrapper h2 a{
    color: var(--font-color-primary);
}
.section-1 .section-1-wrapper h2 a:hover {
    background-color: var(--font-color-secondary);
}
.section-1 .section-1-wrapper p {
    font-size: 1.8rem;
}
.section-2 {
    margin: 0 8rem;
    padding-bottom: 12rem;
}
.section-2 .section-2-wrapper {
    height: 900px;
    background-color: var(--bg-secondary);
    margin: 0 3rem;
    border-radius: 24px;
}
.section-3 {
    margin: 0 8rem;
    margin-bottom: 12rem;
}
.section-3 .section-3-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 1.5rem;
}
.section-3 .section-3-wrapper > div {
    background-color: var(--bg-tertiary);
    padding: 1.4rem 1.2rem ;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6rem 0;
}
.section-3 h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}
.section-3 .section-3-wrapper .releases .release-discription h3 {
    font-size: 1.6rem;
    margin-bottom: 0.6rem;
}
.section-3 .section-3-wrapper .releases .release-discription p {
    font-size: 1.4rem;
}
.section-3 .section-3-wrapper .releases > div .date {
    display: flex;
    justify-content: space-between;
}
.section-3 .section-3-wrapper .releases > div .category {
    display: flex;
    justify-content: space-between;
}
.section-3 .section-3-wrapper .releases > div .date {
    border-top: 1px solid var(--font-color-secondary);
    border-bottom: 1px solid var(--font-color-secondary);
    padding: 0.6rem 0;
}
.section-3 .section-3-wrapper .releases > div .category {
    border-bottom: 1px solid var(--font-color-secondary);
    padding: 0.6rem 0;
}
.section-3 .section-3-wrapper .releases .releases-cta {
    margin-top: 1.5rem;
    overflow: hidden;
}
.section-3 .section-3-wrapper .releases .releases-cta a {
    text-decoration: none;
    color: var(--font-color-tertiary);
    background-color: var(--bg-quatenary);
    display: inline-block;
    padding: 0.5rem 0.9rem;
    border-radius: 6px;
}
.section-3 .section-3-wrapper .releases .releases-cta a:hover {
    background-color: var(--font-color-secondary);
}
.section-3 .section-3-wrapper .releases .release-discription .more-details {
    display: inline-block;
    padding: 1rem 0;
    text-decoration: none;
    color: var(--font-color-primary);
}
.section-4 {
    margin: 0 8rem;
    margin-bottom: 12rem;
}
.section-4 .section-4-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.section-4 .section-4-wrapper > div {
    display: flex;
    flex-direction: column;
}
.section-4 .section-4-wrapper > div > div {
    border-bottom: 1px solid var(--font-color-secondary);
}
.section-4 .section-4-wrapper > div > div a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    color: var(--font-color-secondary);
}
.section-4 .section-4-wrapper > div > div a:first-child {
    color: var(--font-color-primary);
}
.section-4 .section-4-wrapper > div > div a:hover {
    color: var(--font-color-secondary);
}
.section-4 .section-4-wrapper > div > div a p {
    display: inline-block;
    padding: 1rem 0;
}
.section-4 .section-4-wrapper div h3 {
    font-size: 1.5rem;
}
footer {
    background-color: var(--bg-quatenary);
}
footer .footer-wrapper {
    padding: 4rem 3rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 0 6rem;
}
footer .footer-wrapper .first-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
footer .footer-wrapper .first-column div p {
    margin-bottom: 1rem;
    color: var(--font-color-quaternary);
}
footer .footer-wrapper .first-column > div img {
    width: 2rem;
    fill: var(--bg-tertiary);
}
footer .footer-wrapper .first-column div .footer-logo {
    width: 3rem;
}
footer .footer-wrapper .second-column {
    display: flex;
    gap: 0 7rem;
}
footer .footer-wrapper .second-column > div {
    display: flex;
    flex-direction: column;
    gap: 4rem 0;
}
footer .footer-wrapper .second-column > div > div p {
    color: var(--font-color-tertiary);
    margin-bottom: 0.8rem;
}
footer .footer-wrapper .second-column > div > div ul {
    list-style: none;
}
footer .footer-wrapper .second-column > div > div ul li {
    margin-bottom: 0.4rem;
}
footer .footer-wrapper .second-column > div > div ul li a {
    text-decoration: none;
    color: var(--font-color-quaternary);
}
footer .footer-wrapper .second-column > div > div ul li a:hover {
    text-decoration: underline;
    color: var(--font-color-tertiary);
}